<div class="cards-list">
    <% @planes.each do |plane| %>
      <%= link_to plane_path(plane) do %>
        <div class="card-trip" >
            <% if plane.photos.attached? %>
              <div class="card_image"><%= cl_image_tag plane.photos[0].key, width: 275, height: 160, crop: :fill %></div>
            <% else %>
              <div class="card-image"><%= image_tag 'https://media.cntraveler.com/photos/581b8e750ee23d7b457512e9/master/pass/private-jet-tarmac-GettyImages-523476302.jpg' %></div>
            <% end %>
          <div class="card-trip-infos">
            <div class="title-info d-flex justify-content-between">
              <h2> <%= plane.name %> </h2>
              <h2 class="card-trip-pricing"> £<%= plane.price %> </h2>
            </div>
            <p><%= plane.description.truncate(40) %></p>
            <% if plane.owner_id == current_user.id %>
              <%= link_to edit_plane_path(plane) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to plane_path(plane), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_plane"></i>
              <% end %>
            <% end %>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
        </div>
      <% end %>
    <% end %>
</div>


