
<br>
<h2><%= @plane.name %></h2>
<br>
<p><%= @plane.description %></p>
<h3> £<%= @plane.price %> a day to hire </h3>

<%= link_to "Home", root_path, class: "btn btn-info"%>
<%= link_to "Book this plane", root_path, class: "btn btn-info" %>
<%= link_to "Edit your plane", root_path, class: "btn btn-info" %>
<br>
<br>
