
<div class = "container-fluid">
  <div class="top-container d-flex">
    <%= render :partial => 'planes/carousel' %>
    <%= render "bookings/new", plane:@plane, booking: @booking %>
  </div>
<!-- <div class="title">
  <h2 id="show-name"><%#= @plane.name %></h2>
</div> -->
<br>


<br>


<div class="info-box d-flex mt-4 justify-content-between">
  <div class="description">
    <p><%= @plane.description %></p>
    <h3 id="show-name"> £<%= @plane.price %> a day to hire </h3>
    <br>
  </div>
  <%= render :partial => 'planes/map' %>
</div>
<div class="buttons">
  <%= link_to "Home", root_path, class: "button"%>
  <%= link_to "Back", planes_path, class: "button"%>
</div>
<br>
<br>

</div>



