
<%= link_to "Back to Results", planes_path, class: "button mt-1"%>
<div class = "container mt-3">
  <div class="top-container d-flex justify-content-between">
    <div class="carousel">
      <%= render :partial => 'planes/carousel' %>
      <div class="title d-flex justify-content-between">
        <h3><%= @plane.name %></h3>
        <h3> £<%= @plane.price %>/day </h3>
      </div>
      <p><%= @plane.description %></p>
    </div>
    <div class="booking-form">
      <%= render "bookings/new", plane:@plane, booking: @booking %>
    </div>
  </div>

<br>


<br>






