<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new booking</h1>

      <%= simple_form_for [@plane, @booking] do |f| %>
        <%= f.label text="Dates From:" %>
        <%= f.input :start_date, start_year: Date.today.year, order: [:day, :month, :year] %>
        <%= f.label text="Dates Until:" %>
        <%= f.input :end_date, start_year: Date.today.year, order: [:day, :month, :year] %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
