<div class="container" id="show-page">

  <%= link_to "Back", root_path %>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12">
      <h2 id="show-name">Booking plane <%=  @booking.plane.name %></h2>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ref.N.</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Paid</th>
          </thead>
            <tr>
              <td><%= @booking.id %></td>
              <td><%= @booking.start_date %></td>
              <td><%= @booking.end_date %></td>
              <td><%= @booking.plane.price %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

