<div class ="user-page">
  <div class="user-page-body">
<div class="container" id="show-page">
  <br>
  <br>
  <p id="booking-page-link"> Go <%= link_to "Back to more planes", planes_path %> or <%= link_to "See all of your bookings", user_path(current_user.id) %></p>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12">
      <h2 id="show-name">Your booking for <%=  @booking.plane.name %> was successful!  🥳 </h2>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ref.N.</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Paid</th>
          </thead>
            <tr>
              <td><%= @booking.id %></td>
              <td><%= @booking.start_date %></td>
              <td><%= @booking.end_date %></td>
              <td><%= @booking.price %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>
</div>
</div>
